{% extends 'base.html' %}
{% load static socialaccount %}

{% block head_title %}
    Picle
{% endblock %}


{% block content %}
    <div class="section-block shadow-default">
        <div class="section-header">Найактуальніша новина</div>
        <div id="last-news-section" class="section-body col-lg-12 shadow--default">
            <img src="{{ MEDIA_URL }}images/snow.webp">
            <div id="last-news-section-text" class="col-lg-12">
                <p id="image-text">Завтра Україну накриють сніги, температура на заході впаде до -2°</p>
                <p id="date">13 березня 2021, Неділя</p>
            </div>
        </div>
    </div>
    <div class="section-block shadow-default">
        <div class="section-header">
            {% if selected_category_slug %}
                Останні новини в категорії "{{ selected_category_name }}"
            {% else %}
                Список усіх останніх новин
            {% endif %}
        </div>
        <div class="section-body news-block" id="news-container">
            {% for article in articles %}
                <a href="{% url 'news:news_detail' article.slug %}">{% include 'news/snippets/news_block.html' %}</a>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'scripts/ajaxContent.js' %}"></script>
{% endblock %}

