{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Picle
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock %}



{% block content %}
    <div class="section-block">
        <div class="section-header">Найактуальніша новина</div>
        <div id="last-news-section" class="section-body col-lg-12 shadow--default">
            <img src="{{ MEDIA_URL }}images/rain.jpg">
            <div id="last-news-section-text" class="col-lg-12">
                <p id="image-text">Завтра Україну накриють дощі, температура на заході впаде до +14°</p>
                <p id="date">28 вересня 2020, Понеділок</p>
            </div>
        </div>
    </div>
    <div class="section-block">
        <div class="section-header">
            {% if selected_category_slug %}
                Останні новини в категорії "{{ selected_category_name }}"
                {% else  %}
                Список усіх останніх новин
            {% endif %}
        </div>
        <div class="section-body">
            {% for article in articles %}
                <a href="{% url 'news:news_detail' article.slug %}">{% include 'news/snippets/news_block.html' %}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

