{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="section-block shadow-default">
			<div class="section-header">{{ article.title }}</div>
        {% if article.url_to_image %}
			<div class="news-page-img">
				<img src="{{ article.url_to_image }}">
			</div>
        {% endif %}
			<div>
				<p class="news-page-text">{{ article.description }}</p>
				<div class="text-right">
					<div class="news-page-additional-info">BBC News</div>
					<div class="news-page-additional-info">{{ article.author }}</div>
					<div class="news-page-additional-info"><a href="{{ article.url }}" target="_blank">Посилання на оригінал</a></div>
					<div class="single-time">1{{ article.published_at }}</div>
				</div>
			</div>
		</div>
{% endblock %}