{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Історія новин
{% endblock %}
{% block content %}
    <div class="section-block shadow-default">
        <div class="section-header"> Параметри пошуку</div>
        <div class="section-body">
            <form id='filter-form' action="{% url 'news:ajax_filter' %}" method="get">
                <div class="flex">
                    <input type="text" name="text" class="shadow-default margin-zero" placeholder="Текст для пошуку">
                </div>
                <div class="flex">
                    Переглянута на сайті:
                    <input type="checkbox" class="shadow-default" name="onSite">
                </div>
                <div class="flex">
                    Відправлені на пошту:
                    <input type="checkbox" class="shadow-default" name="onEmail">
                </div>
                <div class="flex button-row">
                    <a>
                        <button type="submit" class="shadow-default"><img class="icon"
                                                                          src="{{ MEDIA_URL }}icons/search.png">Пошук
                        </button>
                    </a>
                </div>
            </form>
            <script src="{% static 'scripts/newsFilter.js' %}"></script>
        </div>
    </div>
    <div class="section-block shadow-default">
        <div class="section-header"> Результати пошуку</div>
        <div class="section-body news-block" id="news-container">
            {% for article in articles %}
                <a href="{% url 'news:news_detail' article.slug %}">{% include 'news/snippets/news_block.html' %}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}