{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Історія новин
{% endblock %}
{% block content %}
    <div class="section-block shadow-default">
        <div class="section-header"> Параметри пошуку</div>
        <div class="section-body">
            <form id='filter-form' action="{% url 'news:ajax_filter' %}" method="get">
                <div class="flex">
                    <input type="text" name="text" class="shadow-default margin-zero" placeholder="Текст для пошуку">
                </div>
                <div class="flex">
                    Переглянуті на сайті:
                    <input type="checkbox" class="shadow-default" name="checked-on" value="site" checked>
                </div>
                <div class="flex">
                    Відправлені на пошту:
                    <input type="checkbox" class="shadow-default" name="checked-on" value="email" checked>
                </div>
                <div class="flex">
                    Сортуватування
                    <select name="sort-by">
                        <option value="published_at">Датою виходу</option>
                        <option value="checked_at">Датою перегляду</option>
                        <option value="text">За текстом</option>
                    </select>
                </div>
                <div class="flex">
                    За спаданням
                    <input type="checkbox" class="shadow-default" name="order" value="-" checked>
                </div>
                <div class="flex">
                    З категорії:
                    <select name="category">
                        <option value="all">Усі категорії</option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}">{{ category.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex button-row">
                    <a>
                        <button type="submit" class="shadow-default"><img class="icon"
                                                                          src="{{ MEDIA_URL }}icons/search.png">Пошук
                        </button>
                    </a>
                </div>
            </form>
            <script src="{% static 'scripts/newsFilter.js' %}">

            </script>
        </div>
    </div>
    <div class="section-block shadow-default">
        <div class="section-header"> Результати пошуку</div>
        <div class="section-body news-block" id="news-container">
            {% for article in articles %}
                <a href="{% url 'news:news_detail' article.slug %}">{% include 'news/snippets/news_block.html' %}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}