{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    {{ article.title }}
{% endblock %}

{% block sidebar_menu %}
    <div id="sidebar-menu" class="sb-off shadow-default col-xl-2 d-none d-xl-block col-lg-2 col-md-2">
        <a href="{% url 'news:start' %}">
            <li class="bold">Picle</li>
        </a>
        <ul>
            {% for category in categories %}
                <a href="{% url 'news:category_news' category.slug %}">
                    <li class="{% if category.slug == selected_category_slug %}sidebar-active{% endif %}">{{ category.name|capfirst }}</li>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block main %}
    <div id="main"
         class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
        {% block navbar %}
            {{ block.super }}
        {% endblock %}
        {% block content %}
            <div class="section-block shadow-default">
                <div class="section-header">{{ article.title }}</div>
                {% if article.url_to_image %}
                    <div class="news-page-img">
                        <img src="{{ article.url_to_image }}">
                    </div>
                {% endif %}
                <div>
                    <p class="news-page-text">{{ article.description }}</p>
                    <div class="text-right">
                        <div class="news-page-additional-info">{{ article.author }}</div>
                        <div class="news-page-additional-info"><a href="{{ article.url }}" target="_blank">Посилання на
                            оригінал</a></div>
                        <div class="single-time">{{ article.published_at }}</div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}