{% extends 'base.html' %}
{% load static tz %}
{% block head_title %}
    Персональний кабінет
{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mics.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block sidebar_menu %}
    {% endblock %}
    {% block main %}
        {% block navbar %}
        {% endblock %}
        {% block content %}
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
                <div class="big-text">Персональний кабінет</div>
                <div class="section-block shadow-default">
                    <div class="section-header"><img class="icon-personal-info" src="{{ MEDIA_URL }}icons/info.png">Інформація
                        про користувача
                    </div>
                    <ul>
                        <li class="single-block"><p class="additional-info">Ім'я: {{ user.first_name }}</p><button>Змінити</button></li>
                        <li class="single-block"><p class="additional-info">Фамілія: {{ user.last_name }}</p><button>Змінити</button></li>
                        <li class="single-block"><p class="additional-info">Ел.пошта: {{ user.email }}</p>
                            <button>Змінити</button>
                        </li>
                        {% comment %}<li class="single-block"><p class="additional-info">Ваше місто: {user_city}</p>
                            <button>Змінити</button>
                        </li>
                        <li class="single-block"><p class="additional-info">Номер мобільного: {phone_number}</p>
                            <button>Прив'язати</button>
                        </li>
                        <li class="single-block"><p class="additional-info">Наявність преміум-підписки
                            {premium.isPresent()}</p>
                            <button>Підписатися</button>
                        </li>{% endcomment %}
                    </ul>
                </div>
                <div class="section-block shadow-default">
                    <div class="section-header"><img class="icon-personal-info" src="{{ MEDIA_URL }}icons/password.png">Пароль
                    </div>
                    <ul>
                        <li class="single-block"><p class="additional-info">Останній раз було
                            змінено {{ user.last_password_change|localtime|date:'d.m.Y, H:i' }}</p>
                            <button><a href="{% url 'account_change_password' %}">Змінити пароль</a></button>
                        </li>
                    </ul>
                </div>
                <div class="section-block shadow-default">
                    <div class="section-header"><img class="icon-personal-info" src="{{ MEDIA_URL }}icons/info.png">Прив'язка до соц-мереж
                    </div>
                    <ul>
                        <li class="single-block"><p class="additional-info"><img src="{{ MEDIA_URL }}icons/google.png" class="icon">Google</p><button>Змінити</button></li>
                        <li class="single-block"><p class="additional-info"><img src="{{ MEDIA_URL }}icons/facebook.png" class="icon">Facebook:</p><button>Змінити</button></li>
                        <li class="single-block"><p class="additional-info"><img src="{{ MEDIA_URL }}icons/telegram.png" class="icon">Telegram:</p>
                            {% if not telegram_account %}<button>{% include 'account/snippets/telegram_widget.html' with process="connect" %}</button>{% else %}<button>Прив'язаний</button>{% endif %}
                        </li>
                    </ul>
                </div>
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="section-block shadow-default">
                        <div class="section-header"><img class="icon-personal-info"
                                                         src="{{ MEDIA_URL }}icons/preferences.png">Уподобання
                        </div>
                        <ul>
                            {% for field in form %}
                                {% if field.label != 'send_news_to_email' and field.label != 'countdown_to_email' %}
                                    <li class="single-block"><p
                                            class="additional-info">{{ field.label|capfirst }}</p>{{ field }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="section-block shadow-default">
                        <div class="section-header"><img class="icon-personal-info" src="{{ MEDIA_URL }}icons/mail.png">Розсилка
                        </div>
                        <ul>
                            <li class="single-block">
                                <p class="additional-info">Період між відправкою новин на пошту, у хвилинах!</p>
                                <div class="single-content">
                                    {{ form.countdown_to_email }}
                                </div>
                            </li>
                            <li class="single-block"><p
                                    class="additional-info">Отримувати вподобання на
                                пошту</p>{{ form.send_news_to_email }}
                            </li>
                            <li class="single-block"><p class="additional-info">Відправка новин у Telegram (потрібен
                                преміум)</p>
                                <input id="finances" type="checkbox" class="shadow-default switch" disabled></li>
                        </ul>
                        <div class="section-float-button">
                            <button type="submit">Зберегти все</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}