.news-page-img {
	text-align: center;
}

.news-page-img img {
	width: 80%;
	margin: 20px 0;
}

.news-page-text {
	font-size: 1.5em;
	margin: 40px 0;
}

.news-page-additional-info {
	font-size: 1.5em;
}

.news-page-additional-info a {
	color: #D80000;
}

.right {
	text-align: right;
}