{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}Підтвердження електронної пошти{% endblock %}

{% block content %}
    <div class="top-space section-block shadow-default col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
        <div class="section-body-misc">
            <div class="big-text">Підтвердження ел. пошти</div>
            {% if confirmation %}
                <div class="single-content">
                    <p class="additional-info">Будь ласка, підтвердіть, що <a
                            href="mailto:{{ confirmation.email_address.email }}"></a> - це пошта
                        користувача {{ confirmation.email_address.user }}</p>
                </div>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    {% include 'account/snippets/form_errors.html' %}
                    <div class="flex button-row top-space">
                        <button type="submit" class="shadow-default"><img class="icon"
                                                                          src="{{ MEDIA_URL }}icons/checkmark.png">Підтвердити
                        </button>
                    </div>
                </form>
            {% else %}
                <div class="single-content">
                    <p class="additional-info">Це посиланн на підтвердження пошти недійсне, будь ласка, перейдіть
                        на {% url 'account_email' %} щоб надіслати новий запит на підтвердження пошти</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
