{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}Підтвердження електронної пошти{% endblock %}



{% block content %}
    <div class="top-space section-block col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
        <div class="section-body">
            <div class="big-text">Підтвердження ел. пошти</div>
            {% if confirmation %}
                <div class="single-content">
                    <p class="additional-info">Будь ласка, підтвердіть, що <a
                            href="mailto:{{ confirmation.email_address.email }}"></a> - це пошта
                        користувача {{ confirmation.email_address.user }}</p>
                </div>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div class="section-float-button">
                        <button class="shadow-default">Підтвердити</button>
                    </div>
                </form>
            {% else %}
                <div class="single-content">
                    <p class="additional-info">Це посиланн на підтвердження пошти недійсне, будь ласка, перейдіть
                        на {% url 'account_email' %} щоб надіслати новий запит на підтвердження пошти</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
