{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}Відновлення паролю{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="top-space section-block col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
		<div class="section-body">
			<div class="big-text">Відновлення паролю</div>
			<div class="section-header">Через ел. пошту</div>
			<form action="{% url 'account_reset_password' %}" method="post">
				{% csrf_token %}
			<div class="single-content">
                {{ form.email }}
			</div>
			<div class="single-content">
				<p class="additional-info">Якщо у вас виникли труднощі з відновленням паролю, зверніться до групи підтримки.</p>
			</div>
			<div class="section-float-button">
				<button type="submit" class="shadow-default right-button">Відновити пароль</button>
			</div>
			</form>
			<a href="{% url 'account_login' %}"><button class="shadow-default">Повернутися до входу</button></a>
		</div>
	</div>
{% endblock %}
