{% extends "account/base.html" %}

{% load i18n static %}
{% block head_title %}Зміна паролю{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mics.css' %}">
{% endblock %}

{% block content %}
    <div class="top-space section-block col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
		<div class="section-body">
			<div class="big-text">Зміна паролю</div>
			<div class="single-content">
				<p class="additional-info">Ваш пароль успішно змінено.</p>
			</div>
			<div class="section-float-button">
				<a href="{% url 'account_login' %}"><button class="shadow-default">Повернутися до входу</button></a>
			</div>
		</div>
	</div>
{% endblock %}
