{% extends "account/base.html" %}

{% load i18n socialaccount static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block content %}
    <div class="top-space section-block shadow-default col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0">
        <div class="section-body-misc">
            <div class="big-text">Реєстрація</div>
            <div class="section-header">Через соц. мережі</div>
            <a href="{% provider_login_url 'google' %}">
                <div class="single-block shadow-default chooseable">
                    <div class="single-content">
                        <img src="{{ MEDIA_URL }}icons/google.png" class="icon">
                        Зайти з Google
                    </div>
                </div>
            </a>
            <a href="{% provider_login_url 'facebook' %}">
                <div class="single-block shadow-default chooseable">
                    <div class="single-content">
                        <img src="{{ MEDIA_URL }}icons/facebook.png" class="icon">
                        Зайти з Facebook
                    </div>
                </div>
            </a>
            <div id="telegram-widget">
                <div class="single-content">{% include 'account/snippets/telegram_widget.html' %}</div>
            </div>
            <div class="section-header">Інший варіант</div>
            <form action="{% url 'account_signup' %}" method="POST">
                {% csrf_token %}
                {% include 'account/snippets/form_errors.html' %}
                {% comment %}<div class="single-content">
                    <input type="text" name="username" placeholder="Логін" class="shadow-default">
                </div>{% endcomment %}
                <div class="single-content">
                    {{ form.email }}
                </div>
                <div class="single-content">
                    {{ form.password1 }}
                </div>
                <div class="single-content">
                    {{ form.password2 }}
                </div>
                <div class="flex top-space button-row">
                    <a href="{% url 'account_login' %}">
                        <button type="button" class="shadow-default"><img class="icon"
                                                                          src="{{ MEDIA_URL }}icons/back.png">Повернутися до входу</button></a>
                    <a href="#"><button type="submit" class="shadow-default"><img class="icon"
                                                                      src="{{ MEDIA_URL }}icons/checkmark.png">Зареєструватися</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
